<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>認證</title>
</head>
<body>
    <h1>登入註冊</h1>
    <a href="/auth/login">登入</a>
    <a href="/auth/register">註冊</a>
    <a href="/index">返回</a>
</body>
</html>