<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>管理員</title>
</head>
<body>
    <h1>管理員</h1>
    <a href="/admin/A_blog">管理博客</a>
    <a href="/admin/A_store">管理商品</a>
</body>
</html>