<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="/">Pet Shop</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/about">About</a>
    </li>
    <li class="nav-item">
      <!-- <div class="dropdown">
        <button class="dropbtn">Blog 
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="/blog">Blog</a>
          <a href="/blog/article">Article</a>
        </div>
      </div>  -->
      <a class="nav-link" href="/blog">Blog</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/course">Course</a>
      <!-- <div class="dropdown">
        <button class="dropbtn">Course 
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="/course">Course</a>
           <a href="/course/book">Booking</a>
        </div> -->
    </li>
    <li class="nav-item">
      <div class="dropdown">
        <button class="dropbtn">Product
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="/product">Product</a>
          <a href="/product/category">Type</a>
        </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/services">Services</a>
      <!-- <div class="dropdown">
        <button class="dropbtn">Services 
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="/services">Services</a>
        </div> -->
    </li>
  </ul>
  <ul class="navbar-nav ml-auto">
    <!-- <li class="nav-item">
      <h4 class="mt-2">User_001</h4>
    </li> -->
    <li class="nav-item">
      <div class="dropdown">
        <button class="dropbtn">Profile
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="/account/user">User</a>
        </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/auth/login">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/auth/register">Register</a>
    </li>
  </ul>
</nav>