<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>服務種類</title>
</head>
<body>
    <h1>這是服務種類</h1>
    <a href="/service/capture">寵物拍攝</a>
    <a href="/service/place">寵物活動場地</a>
    <a href="/service/spa">寵物美容</a>
    <a href="/service/vet">睇醫生</a>
    <a href="/index">返回</a>
</body>
</html>