<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>联络方式</title>
</head>
<body>
    <a>联络方式</a>
    <a href="/about">返回上一層</a>
</body>
</html>