<div class="form-group">
    <label for="title">修改寵物種類</label>
    <input required value="<%= category.title %>" type="text" name="title" id="title" class="form-control">
</div>

<a href="/admin/A_product/category" class="btn btn-secondary">取消</a>
<button type="submit" class="btn btn-primary">保存</button>