<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>管理系統</title>
</head>
<body>
    <h1>管理系統</h1>
    <a href="/admin/A_product/category">管理種類</a>
    <a href="/admin/A_product/pets">管理寵物品種</a>
    <a href="/admin/A_product/product">管理商品</a>
</body>
    <a href="/admin">返回上一層</a>
</html>