<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>課程內容</title>
</head>
<body>
    <a>這是課程內容</a>
    <a href="/course">返回上一層</a>
</body>
</html>